.Login {
    vertical-align: middle;

}


.LoginForm {

    padding: 2em;
    background-color: #ffffff;

}

.buttonLogin {

}

.buttonRegister {

    color: #FFFFFF;

}

.chillFlix {

    color: #373737;
    font-family: 'Baloo Bhaina', cursive;

}