/**
 * Nav bar (Normal screen view)
 */

.input-field #search {
    height: 64px;
}

/**
 * video
 */
.video-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

/**
 * Side menu (Mobile view)
 */
.brand-logo {
    margin-left: 20px;
}

.input-field #searchMobile {
    height: 64px;
}

.side-nav {
    background: #2ab2f8;
}

.side-nav li a {
    margin: 0.5em;
    color: #FFFFFF;
    border: solid;
    border-width: 0.25em;
    border-color: rgba(0, 0, 0, 0.38);
    background-color: rgba(26, 97, 138, 0.82);
}

/*
 * Home page
 */

.card {
    margin: 25px;
    background: #2ab2f8;
    border: #333333;
}

/*
 * Footer
 */

.page-footer a {
    color: #FFFFFF;
}

/**
 * iTunes button link
 */
.buttoniTunes {
    background: url('../images/link-badge-itunes.png') no-repeat;
    display: block;
    height: 40px;
    margin: 1% 0 1% 0;

}

/**
 * Mobile layout :
 */
@media (max-width: 992px) {
    .flex-s {
        display: flex;
        flex-direction: column; /* Stack on top */
    }

    .info-box {
        order: 2; /* Go down, bring Box B up */
    }

    img {
        margin-top: 20px;
        margin-bottom:20px;
    }
}

.row {
    align-content: center;
}

.space {
    margin-top: 100px;
    margin-bottom: 100px;
}

.carousel-slider {
    height: 400px !important;
}

.btn {
   color: #ffffff;
    background-color: #2ab2f8;
}

input.autocomplete {



}

nav .input-field label:hover {
    cursor: pointer;
    
}

.searchResultsItem:hover {
    cursor: pointer;
    background-color: rgba(30, 150, 236, 0.44);


}



