/**
 * Nav bar (Normal screen view)
 */

.input-field #search {
    height: 64px;
    width: 100%;
}

/**
 * video
 */
.video-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

/**
 * Side menu (Mobile view)
 */
.brand-logo {
    margin-left: 20px;
}

.input-field #searchMobile {
    height: 64px;
}

.side-nav {
    background: #2ab2f8;
}

.side-nav li a {
    margin: 0.5em;
    color: #FFFFFF;

}

/*
 * Home page
 */

.card {
    margin: 25px;
    background: #2ab2f8;
    border: #333333;
}

/*
 * Footer
 */

.page-footer a {
    color: #FFFFFF;
}

/**
 * iTunes button link
 */
.buttoniTunes {
    background: url('../images/link-badge-itunes.png') no-repeat;
    display: block;
    height: 40px;
    margin: 1% 0 1% 0;

}

/**
 * Mobile layout :
 */
@media (max-width: 992px) {
    .flex-s {
        display: flex;
        flex-direction: column; /* Stack on top */
    }

    .info-box {
        order: 2; /* Go down, bring Box B up */
    }

    img {
        margin-top: 20px;
        margin-bottom:20px;
    }
}

.row {
    align-content: center;
}

.space {
    margin-top: 100px;
    margin-bottom: 100px;
}

.carousel-slider {
    height: 400px !important;
}

.btn {
   color: #ffffff;
    background-color: #2ab2f8;
}


.searchResultsItem:hover {
    cursor: pointer;
    background-color: rgba(30, 150, 236, 0.44);


}


.input-field #searchMobile {

    margin-left: 0.5em;

}



.modal-content {


    color: #00b0ff;

}

nav .input-field {

    height: 10%;

}

.s2 {

    vertical-align: middle;

}
input[type=range]::-webkit-slider-thumb {
    background-color: #2ab2f8;
}

/***** These are to edit the thumb and the text inside the thumb *****/
input[type=range] + .thumb {
    background-color: #2ab2f8;
}
input[type=range] + .thumb.active .value {
    color: #000000;

}

.autocomplete-content li>a, .dropdown-content li>span {

    color: #2ab2f8;
    line-height: 20px;

}

h2 #searchresultslabel {

    margin-left: 0.5em;

}

i {

    pointer-events: none;

}



