 <footer class="page-footer grey darken-4">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Chillflix</h5>
                        <p class="grey-text text-lighten-4">When you want to watch movies and actually chill.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a data-action="buttonUserProfile" class="buttonUserProfile" href="#">My profile</a>
                            </li>
                            <li><a data-action="buttonHome" class="buttonHome" href="#">Home</a></li>
                            <li><a data-action="buttonWatchlistsPage" class="buttonWatchlistsPage"
                                   href="#">My Watchlists</a></li>
                            <li><a data-action="buttonUserLogout" class="buttonUserLogout" href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Copyright Équipe 13
                </div>
            </div>
        </footer>