 <div class="Page">
            <div class="container">
                <div class="column s12">
                    <div class="row center">
                        <div class="space"></div>
                        <h1>Welcome to Chillflix{{#if name}}, {{name}}{{/if}}.</h1>

                        <div class="space"></div>
                        <h5> Website in construction. </h5>
                        <div class="space"></div>


                    </div>
                </div>
            </div>

 </div>