<div class="Page Login">
    <div class="container">
        <div class="space"></div>

        <div class="column s6 offset-s6">
            <div class="row center LoginForm z-depth-5">
                <div class="space"></div>
                <h2 class="black-text chillFlix">Chillflix</h2>
                <div class="space"></div>
                <div class="input-field">
                    <input placeholder="Email" id="inputLoginEmail" type="text" class="validate black-text">
                </div>

                <div class="input-field">
                    <input placeholder="Password" id="inputLoginPassword" type="password" class="validate black-text">
                </div>

                <div class="input-field">

                    <a data-action="buttonLogin" data-href="login/authenticate"
                       class="buttonLogin btn waves-effect waves-light blue white-text"><i
                            class="material-icons">send</i>Login</a>
                </div>
                <div class="space"></div>
                <div class="input-field">
                    <a data-action="buttonRegister" data-href="login/register" class="link" href="#!">Register a new
                        account</a>
                </div>
            </div>
        </div>
    </div>

</div>