<div class="Page Register">
    <div class="container">
        <div class="space"></div>

        <div class="column s6 offset-s6">
            <div class="row center RegisterForm z-depth-5">
                <div class="space"></div>
                <h2 class="black-text chillFlix">Register</h2>
                <div class="space"></div>

                <div class="input-field">
                    <input placeholder="First name" id="inputRegisterFirstname" type="text" class="validate black-text">
                </div>

                <div class="input-field">
                    <input placeholder="Last name" id="inputRegisterLastname" type="text" class="validate black-text">
                </div>

                <div class="input-field">
                    <input placeholder="Email" id="inputRegisterEmail" type="text" class="validate black-text">
                </div>

                <div class="input-field">
                    <input placeholder="Password" id="inputRegisterPassword" type="password"
                           class="validate black-text">
                </div>

                <div class="input-field">
                    <input placeholder="Comfirm password" id="inputRegisterComfirmPassword" type="password"
                           class="validate black-text">
                </div>

                <div class="input-field">
                    <a data-action="buttonRegister" class="buttonRegister btn waves-effect waves-light blue white-text"><i
                            class="material-icons">send</i>Submit</a>
                </div>
                <div class="space"></div>

                <p>* Your account will be automaticaly linked with your <a href="http://www.gravatar.com">Gravatar</a>
                    account if they have the same email registered.</p>
            </div>
        </div>
    </div>

</div>