<h2 id="searchResultsLabel" class="flow-text"> Search results for : {{query}} </h2>

<ul class="collapsible searchResultsList" data-collapsible="accordion">
    {{#each searchResults}}
        {{searchResultItem this}}
    {{/each}}
</ul>