<script type="text/x-handlebars-template" id="SearchResultsTemplate">
    <div class="Page">
        <div class="row">
            <div class="col s12 center-align">
                <form action="#">
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="GlobalSearch" />
                        <label for="GlobalSearch">Red</label>
                    </p>
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="MovieSearch" />
                        <label for="MovieSearch">Yellow</label>
                    </p>
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="EpisodeSearch"  />
                        <label for="EpisodeSearch">Green</label>
                    </p>
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="SeasonSearch" />
                        <label for="SeasonSearch">Brown</label>
                    </p>
                    <p>
                        <input class="with-gap" name="group1" type="radio" id="ActorSearch" />
                        <label for="ActorSearch">Brown</label>
                    </p>
                </form>

                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="images/yuna.jpg" alt="" class="circle">
                        <span class="title">Title</span>
                        <p>First Line <br>
                            Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle">folder</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                            Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle green">insert_chart</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                            Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle red">play_arrow</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                            Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</script>