<div class="Page">
            <div class="row">
                <div class="col s12">
                    <h5> Episode list </h5>
                    <ul>
                        {{#each episodes}}
                            <li><a class="waves-effect waves-light btn" href="#modal1">{{trackName}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>{{seasonTitle}}</h4>
            <div class="divider"></div>
                <ul><li>{{longDescription}}</li></ul>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</div>
